<section class="landing skills" >
  <a href="#/SkillSet">
   <div class="landing__title row--blue">
   <span>SKILLS</span>
   </div>
  </a>
</section>

<section class="landing portfolio ">
 <a href="#/Work">
  <div class="landing__title landing__title--right row--lightgrey">
   <span>PORTFOLIO</span>
  </div>
 </a>
</section>

<section class="landing bio">
 <a href="#/AboutMe">
  <div class="landing__title row--blue">
   <span>BIO</span>
  </div>
 </a>
</section>

<section class="landing contact">
 <a href="#/Contact">
  <div class="landing__title landing__title--right row--lightgrey">
   <span>CONTACT</span>
  </div>
 </a>
</section>