<section class="landing row row--blue skills" >

 <div class="landing__title container-wide col-wide">
  <a href="#">SKILLS</a>
 </div>
 <img class="landing__img container-narrow--right col-narrow--right" src="assets/img/test2.png">

</section>
<section class="landing row row--orange portfolio">
 <img class="landing__img container-narrow col-narrow" src="assets/img/test2.png">
 <div class="landing__title container-wide--right col-wide--right">
  <a href="#">PORTFOLIO</a>
 </div>
</section>

<section class="landing row row--blue bio">
 <a href="#"><div class="landing__title container-wide col-wide">
  <span>BIO</span>
 </div></a>
 <img class="landing__img container-narrow--right col-narrow--right" src="assets/img/test2.png">

</section>
<section class="landing row row--lightgrey contact">

 <img class="landing__img container-narrow col-narrow" src="assets/img/test2.png">
 <div class="landing__title container-wide--right col-wide--right">
  <a href="#">CONTACT</a>
 </div>
</section>