<section class="row row--blue header">
 <div>
 Skills
 </div>
</section>
	
<section class="row row--orange nav">
 <div>
  <ul class="nav-bar">
  	<li><a href="#/Welcome">Menu</a></li>
  	<li><a href="#/SkillSet">Skills</a></li>
  	<li><a href="#/Work">Portfolio</a></li>
  	<li><a href="#/AboutMe">Bio</a></li>
  	<li><a href="#/Contact">Contact</a></li>
  </ul>
 </div>
</section>

<section class="row row--lightgrey body">
 <div> 
  <p> Cum agam solet gubergren te, sint probatus et has. Qui aperiri mnesarchum in, et audiam molestiae vix. Mel ea inermis civibus philosophia, natum laoreet scaevola ex eam. At adversarium conclusionemque est, est option efficiendi ei. Epicuri lobortis vel ea, no delenit dolores pro.
  Quidam diceret maiorum ea nam, nec te omnesque iracundia. Nibh putent hendrerit at sea, at vel malis detracto disputationi, et libris appareat disputationi eum. Duo at quaestio adolescens, lorem oportere eam ex, vel ut singulis assentior. Latine antiopam sea an, vix partem delicata similique an, soleat euismod te mei. An vel antiopam partiendo, eos cu saepe oporteat definitiones. 
  </p>
 </div>
</section>

<section class="row row--darkgrey footer">
 <div>
 Footer
 </div>
</section>