/*row*/

.row { 
	clear: both;
	overflow: hidden;
 }

.welcome {
	background-color: rgb(242, 242, 242);
}

/*row--color*/

.row--lightgrey {
	background-color: rgb(248, 248, 248);
}

.row--white { 
	background-color: rgb(255, 255, 255); 
}

.row--blue { 
	background-color: rgb(0, 102, 204); 
	color: rgb(242, 242, 242);
}
.row--orange { 
	background-color: rgb(252, 112, 112); 
}
/*row-padding*/



/*containers*/

.container-narrow,
.container-medium,
.container-wide {
	margin: auto;
	padding: 0em 1.5em;
}

.container-narrow {
	max-width: 34em;
}


.container-medium {
	max-width: 52em;
}

.container-wide{
	max-width: 58em;
}

/*columns*/
.col-narrow{}
.col-narrow--right {}
.col-medium{}
.col-wide {}
.col-wide--right {
	margin-bottom: 1.5em;
}


/*-------------wide screen------------*/
@media (min-width: 38em) {
	.container-narrow,
	.container-medium,
	.container-wide {
		padding-left: 2em;
		padding-right: 2em;
	}


	.col-narrow,
	.col-medium,
	.col-wide { 
		float: left; 
	}

	.col-narrow--right,
	.col-wide--right {
		float: right;
	}

	.col-wide,
	.col-wide--right {
		width: 61%;
	}

	.col-medium {
		width: 50%;
	}

	.col-narrow,
	.col-narrow--right {
		width: 25%;
		margin-bottom: 0;
	}
}

/*-------------mobile-------------*/