/*greetings*/

#circle {
	background-image: url(../img/test.png);
	height: 300px;
	width: 300px;
	margin: 115px auto 0;	
	display: block;
	position: relative;
}

#intro-name {
	font-size: 5em;
	text-align: center;
	color: rgb(0,102,204);
	margin-top: 0.35em;
	margin-bottom: 1.5em;
}

#hello {
	border-radius:50%; 
	background-color: rgb(0,102,204);
	width: 300px;
	height: 300px;
	position: absolute;
	transition: all 0.5s;
}

#hello:hover {
	transform: scale(1.05,1.05);
	opacity: 0.5;
}

/*landpage*/

.skills {
	background-image:
}

.portfolio {
	background-image:
}

.bio {
	background-image: 
}

.contact {
	background-image: 
}

.landing{
	height: 25%;
}

.landing > a {
	text-decoration: none;
}

.landing__title {
	height:100%;
	line-height: 145px;
	width: 100%;
	font-size: 5em;
	text-align: center;
	padding: auto;
	opacity: 0.9;
	transition: all .25s;
	float:left;
}

.landing__title--right {
	float:right;
	color: rgb(0,102,204);
}
.landing__title:hover {
	font-size: 5.5em;
	opacity: 1.0;
}

/*skills*/

/*previousworks*/

/*bio*/

/*contact*/

/*error*/

/*-------wide screen-------*/

/*greetings*/

/*landpage*/

@media (min-width: 38em){
	.landing__title {
		max-width: 800px;
	}
}

/*skills*/

/*previousworks*/

/*bio*/

/*contact*/

/*error*/

/*--------mobile--------*/

/*greetings*/

/*landpage*/

/*skills*/

/*previousworks*/

/*bio*/

/*contact*/

/*error*/